main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.pokemon{
    min-height: 45vh;
}

.example-card{
    padding: 9px;
}

.example-card:hover{
    opacity: .5;
    cursor: pointer;
}